@font-face{
    font-family: 'pe';
    src: url('../fonts/VollkornBlackItalic-DO0L3.ttf') format("truetype");
}



body{
    margin: 0px;
    font: 80%;
    width: 1460px;
    height: 868px;
    max-width: 1166px;
    min-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    display: grid;
    background: no-repeat;
    grid-gap: 7px;
    grid-template-columns: repeat(23,44px);
    grid-template-rows: repeat(34,50px);
    background-color: white;
    color: #3333;
}

.box{
    border: 0px solid #4444;
    padding: 80px;
    font-size: 150%;
}

.a{
    grid-column: 2/23;
    grid-row: 2/5;
}

.b{
    grid-column: 2/23;
    grid-row: 6/9;
}

.c{
    grid-column: 2/23;
    grid-row: 10/14;
    background-image: url('../images/HTC.jpg');
 background-repeat: no-repeat;
 margin-left: 350px;
 margin-right: 200px;
   
}

.d{
    grid-column: 2/23;
    grid-row: 14/17;
}
.e{
    grid-column: 2/23;
    grid-row: 17/21;
    background-image: url('../images/pc.jpg');
    background-repeat: no-repeat;
    margin-left: 300px;
 margin-right: 200px;
    
}
.f{
    grid-column: 2/23;
    grid-row: 21/24;
}
.g{
    grid-column: 2/23;
    grid-row: 24/28;
    background-image: url('../images/marge.jpg');
    background-repeat: no-repeat;
    margin-left: 370px;
 margin-right: 200px;
}
.h{
    grid-column: 2/23;
    grid-row: 28/31;
}