/*HTML*/
html {
    scroll-behavior: smooth;
    width: 100%;
}
/*Body*/
body {
    overflow-x: hidden;
}
/*H1*/
h1 {
    color: white;
}
/*nav*/
nav {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 500;
    height: 2em;
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
/*DIV*/
div {
    height: 100%;
    width: 100%;
    position: relative;
}   
/*ul*/
ul, li {
    display: inline;
    list-style-type: none;
    color: white;
}
/*Button*/
div button {
    z-index: 5;
    position: absolute;
    border-radius: 35%;
    width: 10rem;
    height: 4rem;
}
button { 
    background-color: transparent;
    border: white 2px solid;
    color: white;
}
.button2 {
    top: 600px;
    color: white;
    background-attachment: transparent;
}
button:hover {
    background-color:white;
    color: black;
    transition: .5s;
}
.button2:hover {
    background-color:white;
    color: black;
    transition: .5s;
}
/*Classes*/
.shop{
    margin: 0%;
    padding: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.white-arrow {
    position: relative;
    left: 725px;
    top: 625px;
}
.h1 {
    transform:  translate(630px, -500px); 
    color: white;
}
/*ID's*/
#arrow1 {
    position: relative;
    top: 200px; 
    left: 100px;
}

